/* .gall-coll {
    background-color: rgba(209, 207, 204, 0.719);
    box-shadow: 0 1.4rem 8rem rgba(209, 207, 204, 0.719);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 10px 10px 10px 10px;
}

.card-img-top {
    width: 100%;
    height: 100vh;
}

.rad {
    border-radius: 0.5rem;
} */
.gb-coll{
    margin-top: 20px;
    padding: 10px;
}





.st1-style {
    width: 100%;
    margin-left: 30px;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.st1-style-img {
    margin-top: 30px;
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-9rem);
    position: relative;
}

.st1-style-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.st1-style-img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(44, 196, 95, 0.8), rgba(40, 247, 33, 0.8));
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
}

.st1-style-date span {
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.st1-style-title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.st1-style-text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.st1-style-cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #4acf4e 0%), #00f2fe;
    border-radius: .8rem;
    text-decoration: none;
}

@media screen and (max-width: 1068px) {
    .st1-style {
        max-width: 80rem;
        margin-left: 0;
        margin-top: 20px;
    }

    .st1-style-img {
        min-width: 10rem;
        max-width: 10rem;

    }

}

@media screen and (max-width: 868px) {
    .st1-style {
        max-width: 70rem;
        margin-left: 0;
        margin-top: 20px;
    }
}
@media screen and (max-width: 768px) {
    .st1-style {
        padding: 2.5rem;
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
    }

    .st1-style-img {
        /* padding: 2.5rem;
        padding-top: 9.5rem; */
        min-width: 20rem;
        max-width: 20rem;
        transform: translate(0, -8rem);
    }

}
