.company-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .company-menu li {
    background: #ffb618;
    cursor: pointer;
  }
  
  .company-menu li:hover {
    background: #ffb618;
    color: #fff;
  }
  
  .company-menu.clicked {
    display: none;
  }
  
  .company-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
    .company-menu{
      flex-direction: column;
    }
  }
  