.tabs {
  margin-top: 1rem;
  margin-left: 1rem;
  /* overflow-x: scroll; */
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 2rem;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  color: orange;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

/* @media screen and (max-width:960px) {
  
} */