.footer{
    color: #fff;
    background-color: green;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 0;
}
#text-xs-center{
    margin-top: 20px;
}
@media(max-width: 960px) {
    .footer{
        color: #fff;
        background-color: green;
        text-align: center;
        height: auto;
        width: 100%
    }
}