.prduct-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .prduct-menu li {
    /* background: #ffb618; */
    background: orange;
    cursor: pointer;
  }
  
  .prduct-menu li:hover {
    background: orange;
    color: #fff;
  }
  
  .prduct-menu.clicked {
    display: none;
  }
  
  .prduct-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: flex;
    }
    .prduct-menu{
      flex-direction: column;
    }
  }
  